<h1> <%=@location.place %> Address </h1>
<hr />

<% if @addresses.any? %>
<ul>
    <li>
      <%= link_to address.name, trip_location_address_path(@trip, @location, address) %> -
      <%= link_to 'Edit', edit_trip_location_address_path(@trip, @location, address) %> -
      <%= link_to 'Delete', trip_location_address_path(@trip, @location, address), method: :delete, data: { confirm: 'Delete Address?' } %>
    </li>
</ul>
<% else %>
  <h4> No Address for Location, Please Create One </h4>
<% end %>

<div>
  <%= link_to 'Add Address', new_trip_location_address_path(@trip, @location) %> <br />
  <%= link_to 'Locations', trip_location_path(@trip, @location) %> <br />
  <%= link_to 'Trip Page', trip_path(@trip) %>
</div>
