<h1> <%= @address.loc %> </h1>
<hr />

<div>

  <% if @address.city %>
    <p> City: <%= @address.city %> </p>
  <% end %>

  <% if @address.state %>
    <p> State: <%= @address.state %> </p>
  <% end %>

  <% if @address.zip %>
    <p> Zip: <%= @address.zip %> </p>
  <% end %>

</div>

<%= link_to 'Location Page', trip_location_path %> <br />
<%= link_to 'Trip Page', trip_path(@trip) %>
