<% if @location.errors.any? %>
  <h4> <%= pluralize(@location.errors.count, 'Error', 'Errors') %> Add a Location </h4>
  <ul>
    <% @location.errors.full_message.each do |location| %>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  <% end %>

<%= form_for [@trip, @location] do |f| %>

  <%= f.label :place %>
  <%= f.text_field :place %>

  <%= f.submit %>

<% end %>
